*.iml
.gradle
/local.properties
/.idea/*
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/bugly/*
app/proguard-rules.pro
app/src/androidTest/java/com/yetote/bamboomusic/ExampleInstrumentedTest.java
app/src/test/java/com/yetote/bamboomusic/ExampleUnitTest.java
adb
*.zip
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
*.bat
